<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Brainhack</title>

    <!-- Bootstrap Core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.3/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/stylish-portfolio.css" rel="stylesheet">


    <!-- <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css"> -->
   <link href='https://fonts.googleapis.com/css?family=Comfortaa:700' rel='stylesheet' type='text/css'>
   <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
   <link href='https://cdn.rawgit.com/Grible/timetable.js/master/dist/styles/timetablejs.css' rel='stylesheet' type='text/css'>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
  <div id="app">
    <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <a href="#top"  onclick = $("#menu-close").click(); >Menu</a>
            </li>
            <li>
                <a href="#top" onclick = $("#menu-close").click(); >Home</a>
            </li>
            <li>
                <a href="#details" onclick = $("#menu-close").click(); >Details</a>
            </li>
            <li>
                <a href="#schedule" onclick = $("#menu-close").click(); >Schedule</a>
            </li>
            <li>
                <a href="#location" onclick = $("#menu-close").click(); >Location</a>
            </li>
            <li>
                <a href="#sponsors" onclick = $("#menu-close").click(); >Sponsors</a>
            </li>
            <li>
                <a href="#contact" onclick = $("#menu-close").click(); >Contact</a>
            </li>
        </ul>
    </nav>

    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center text-center">
            <h1>{{info.title}}</h1>
			<div class="row">
				<div class="col-12">
					<h2>{{info.location}}</h2>
				</div>
		    </div>
			<div class="row">
				<div class="col-12">
					<h2>{{info.dates}}</h2>
				</div>
		    </div>
            <br>
			<a v-bind:href="info.registration_link" target="_blank" class="btn btn-dark btn-lg top5 left5">Register Soon</a>
      <a v-bind:href="info.slack_link" target="_blank" class="btn btn-dark btn-lg top5 left5">Join Brainhack on Slack</a>
      <a v-bind:href="info.project_submit_link" target="_blank" class="btn btn-dark btn-lg top5 left5">See Projects</a><br><br>

			<br><br><br>
            <p>Photo by <a v-bind:href="info.title_photo_link">{{info.title_photo_author}}</a></p>
            <!-- <a href="#about" class="btn btn-dark btn-lg">Find Out More</a> -->
        </div>
          <div class="text-bottom-right">

            <br>
            <!-- <a href="" class="btn btn-dark btn-lg">Find Out More</a> -->
        </div>
    </header>

    <!-- About
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Stylish Portfolio is the perfect theme for your next project!</h2>
                    <p class="lead">This theme features some wonderful photography courtesy of <a target="_blank" href="http://join.deathtothestockphoto.com/">Death to the Stock Photo</a>.</p>
                </div>
            </div>
            <!-- /.row -->

        <!-- /.container -->

    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <section id="services" class="services bg-primary">
        <div class="container">
            <div class="row text-center">
                <!-- <hr class="small"> -->
                <div class="row">

                    <div class="col-md-3 col-sm-6" v-for="service in info.services">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i v-bind:class="'fa ' + service.fa_icon +  ' fa-stack-1x text-primary'"></i>
                        </span>
                            <h4>
                                <strong>{{service.name}}</strong>
                            </h4>
                            <p>{{service.desc}}</p>
                        </div>
                    </div>


                </div>
                <!-- /.row (nested)
            </div>
            <!-- /.col-lg-10 -->
          </div>
        </div>
        <!-- /.row -->
    </section>

    <!-- Services -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <section id="details" class="details">
        <div class="container">
            <div class="row text-center">
                 <div class="col-12">
					<p><h3><a v-bind:href="info.registration_link" target="_blank">Registration for the {{info.title}} will open soon!</a></h3></p>
		    <p>The {{info.title}} is an official satellite event of the <a href="http://humanbrainmapping.org/" target="_blank">OHBM {{info.year}}</a> Meeting. The goal of the hackathon is to bring together researchers with disparate backgrounds to collaborate on open science projects in neuroimaging.</p> <br/>
					<p>Participants are encouraged to post project ideas to <a v-bind:href="info.project_submit_link" target="_blank">the project page</a>, and to submit a report describing their project to the <a href="http://www.brainhack.org/proceedings">{{info.year}} Brainhack Proceedings</a> that may be published by <a href="http://gigasciencejournal.com/">Gigascience</a> after the event.</p>
					<p>Please join <a href="{{info.slack_link}}" target="_blank">the Brainhack Slack project</a> for updated information on the developing Hackathon content and to contribute your own ideas.</p>
						</div>
					</div>
          <div class="row text-left">
            <div class="col-12">
					<h4>Dates: {{info.dates}}</h4> <br/>
					<h4>Costs: {{info.details.costs}}</h4> <br/>
					<h4>Location: <a href="#map"> {{info.location}}</a></h4> <br/>
						</div>
					</div>
		</div>
	  </section>

    <!-- Callout -->
    <aside class="workspace" id="schedule">
      <div class="container">
  			<div class="row text-center top30">
  				<div class="col-12">
  				    <h1>Schedule</h1>
  			    </div>
  			</div>
  			<div class="row top30" v-if="info.scheduleType=='single'">

  				<div v-for="sched in info.schedule" class="col-md-6 col-lg-4 col-sm-10 col-xs-10 col-md-offset-0 col-lg-offset-0 col-sm-offset-1 col-xs-offset-1">
  					  <div class="row top5 text-center">
  				        <div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2 text-dark">
  					        <h4>{{sched.date}}</h4>
  				        </div>
  				    </div>

    					<div class="row top5" v-for="time in sched.times">
    			            <div class="col-md-4 col-md-offset-1 col-lg-4 col-lg-offset-1 col-sm-5 col-sm-offset-0 col-xs-5 text-dark">
    				            {{time.time}}
    			            </div>
    			            <div class="col-sm-7 col-sm-offset-0 col-md-6 col-md-offset-1 col-lg-6 col-lg-offset-1 col-xs-7 text-dark">
    				            {{time.event}}
    			            </div>
    				   </div>

              <div class="row top5">&nbsp;
    				    </div>
    					<div class="row top5">&nbsp;
    				    </div>
    					<div class="row top5">&nbsp;
    				    </div>
    				</div>



  		    </div>
        <div class="row top30 col-12" v-else>
          <div class="scheduleCal container" v-for="(event, index) in info.schedule">
            <h3>{{event.date}}</h3>
            <timetable :id="'day'+index" :data="event"><timetable>
          </div>
        </div>

		</div>
    </aside>


    <!-- Call to Action -->
    <aside id="projects" class="details">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="text-color-blue">Project submissions will open from {{info.project_open}} - {{info.project_close}}. </a></h3>
                </div>
            </div>
        </div>
    </aside>


    <!-- Call to Action -->
    <aside id="location" class="location" :style="{ backgroundImage: 'url(' + info.location_logo + ')' }">

        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="text-color-blue">Hosted at: <a v-bind:href="info.location_url">{{info.location_name}}</a></h3>
                </div>
            </div>
        </div>
    </aside>


    <!-- Map -->
    <section id="map" class="map">
	     <iframe width="100%" height="100%" frameborder="0" scrolling="no" scrollwheel="false" marginheight="0" marginwidth="0" v-bind:src="info.google_maps_link" style="border:0" allowfullscreen></iframe>
	    <br />
        <small>
        <a href="{{info.google_maps_link}}"></a>

	    </small>
    </section>

    <section id="sponsors" class="no-padding">
        <div class="container-fluid">
            <div class="row no-gutter">
				<div class="col-lg-12 text-center">
				    <br><h3 class="text-color-blue"><strong>The {{info.title}} is generously sponsored By:</strong></h3><br><br>
			    </div>
			</div>

		  <div class="row no-gutter top30">
			    <div class="col-lg-10 col-lg-offset-1" style="text-align:center">
                    <div v-for="sponsor in info.sponsors" style="display:inline-block" class="col-lg-3 col-lg-offset-0 col-md-3 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
                        <a v-bind:href="sponsor.url" target="_blank">
                          <img v-bind:src="sponsor.logo" style="max-width:100%; width:85%; height:auto" class="img-responsive" v-bind:alt="sponsor.name" v-bind:id="sponsor.name">
                        </a>
                    </div>


          </div>

			</div>


			<br><br>
        </div>
    </section>

    <!-- Footer -->
    <footer id="contact" class="services bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h3><strong>For more information:</strong></h3>
                    <i class="fa fa-envelope-o fa-fw"></i>
                    <a href="mailto:hbm.hackathon@gmail.com">hbm.hackathon@gmail.com</a>
                    <br>
                    <br>
                    <h3><strong>Organizers:</strong>
                    </h3>
                    <ul class="list-unstyled">

                        <li v-for="org in info.organizers"><h4>{{org}}</h4></li>


                    </ul><br>
                </div>
            </div>
        </div>
    </footer>

  </div>
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>
    <script src="https://cdn.rawgit.com/Grible/timetable.js/master/dist/scripts/timetable.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.3/js/bootstrap.js"></script>
    <script>

    Vue.component('timetable', {
      template: '<div class="timetable" :id="this.id"></div>',
      data: function(){
        return {

        };
      },
      mounted: function(){
        console.log("data for", this.id, "is", this.data)


            var timetable = new Timetable();
            timetable.setScope(9, 23); // optional, only whole hours between 0 and 23
            var sched = this.data;
            var tracks = Object.keys(sched.times);
            console.log("tracks", tracks, sched)
            timetable.addLocations(tracks);
            for (var j=0; j<tracks.length; j += 1){
              trackName = tracks[j]
              trackData = sched.times[tracks[j]]
              console.log("trackName", trackName, trackData)
              for (var k=0; k<trackData.length; k += 1){
                var td = trackData[k];
                console.log(td)
                timetable.addEvent(td.event, trackName, new Date(td.timeStart[0],td.timeStart[1],td.timeStart[2],td.timeStart[3], td.timeStart[4]), new Date(td.timeEnd[0],td.timeEnd[1],td.timeEnd[2],td.timeEnd[3],td.timeEnd[4]));
              }
            }
            var renderer = new Timetable.Renderer(timetable);

            renderer.draw('#'+this.id); // any css selector


      },
      props: ['id', 'data'],
      // options
    })

      var app = new Vue({
        el: '#app',
        data: {
          info: {
            details: {
              costs: null,
            }
          },
          timetables: [],
        },
        watch: {
        },
        computed: {
          renderTimetables: function() {
            for (i=0; i< this.timetables.length; i+=1){
              try {
                console.log('rendring ttables')
                this.timetables[i].draw('#day'+i); // any css selector
              } catch (e) {

              } finally {

              }
            };
          },
        },
      })

      var url = "https://raw.githubusercontent.com/ohbm/hackathon2018/master/data.json"
      if(window.location.hostname=='localhost'){
        url = "data.json"
      }
      $.getJSON(url, function(data){
        console.log("data is", data);
        app.info = data;



          /*timetable.addLocations(['Silent Disco', 'Nile', 'Len Room', 'Maas Room']);
          timetable.addEvent('Frankadelic', 'Nile', new Date(2015,7,17,10,45), new Date(2015,7,17,12,30));*/

          //var renderer = new Timetable.Renderer(timetable);
          //renderer.draw('.timetable'); // any css selector



      })

    </script>
    <!-- Custom Theme JavaScript -->
    <script>
      // Closes the sidebar menu
      $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
      });

      // Opens the sidebar menu
      $("#menu-toggle").click(function(e) {
          e.preventDefault();
          $("#sidebar-wrapper").toggleClass("active");
      });

      // Scrolls to the selected menu item on the page
      $(function() {
          $('a[href*=#]:not([href=#])').click(function() {
              if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                  var target = $(this.hash);
                  target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                  if (target.length) {
                      $('html,body').animate({
                          scrollTop: target.offset().top
                      }, 1000);
                      return false;
                  }
              }
          });
      });

    	$('.map').click(function () {
    	    $('.map iframe').css("pointer-events", "auto");
    	});

    	$( ".map" ).mouseleave(function() {
    	  $('.map iframe').css("pointer-events", "none");
    	});

    </script>



</body>

</html>
